<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 mx-auto">
                <div class="card_register">
                    <div class="card">
                        <div class="body">
                            <h1 class="h3 mb-3 mt-5 text-center">Solicitud de vacaciones</h1>
                            <form class="m-4">
                                <div class="mt-lg-5 col-md-12 text-center">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccione una sucursal</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.value">
                                            {{sucursal.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="mt-lg-5 col-md-12 text-center">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccione un empleado</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let empleado of empleados" [value]="empleado.value">
                                            {{empleado.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="mt-lg-5 col-md-12 text-center">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Razón de la solicitud</mat-label>
                                        <input matInput placeholder="Ex. Vacaciones de invierno" value="">
                                    </mat-form-field>
                                </div>
                                <div class="mt-lg-5 col-md-12 text-center">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccione la duración de la vacación</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let duracion of duraciones" [value]="duracion.value">
                                            {{duracion.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="col-md-4">
            <label for="">Empleado:</label>
            <input type="text" [(ngModel)]="solicitudVacaciones.SolicitudId">
        </div>
        <div>
            <label for="">Razón:</label>
            <input type="text" [(ngModel)]="solicitudVacaciones.Razon">
        </div>
        <div>
            <label for="">Fecha solicitud:</label>
            <input type="text" [(ngModel)]="solicitudVacaciones.FechaSolicitud">
        </div>
        <div>
            <label for="">Duración:</label>
            <input type="text" [(ngModel)]="solicitudVacaciones.Confirmacion">
        </div>
        <div>
            <button class="btn btn-danger" (click)="Registrar()">Registrar</button>
        </div>  
    </div>
</body>
</html> -->